<!DOCTYPE html>
<html>
  <head>
    <title>Art by Andy Barnow (1984, Berlin)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <style>
      body, html {
        overflow: hidden;
        height: 100%;
      }
      .draggable-box {
        cursor: grab;
        position: absolute;
        z-index: 50;
        user-select: none;
      }
      img {
        object-fit: cover;
        object-position: center;
        width: 100vw;
        height: 100vh;
        position: fixed;
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <div
      data-controller="sessions"
      class="session-hex"
      data-sessions-session-id-value="<%= Current.user&.id %>"
    ></div>
    <%= yield %>
    <div data-controller="hints"></div>
  </body>
</html>
