<!DOCTYPE html>
<html>
  <head>
    <title>Art by Andy Barnow (1984, Berlin)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <%= yield :head %>
  </head>

  <body class="<%= content_for?(:body_class) ? yield(:body_class).strip : "" %>">
    <%= yield %>
    <div data-controller="hints"></div>
  </body>
</html>
